.clipCard {
  outline-color: var(--borders);
  border: 1px solid var(--borders);
  border-radius: var(--radius-small);
  overflow: hidden;

  padding: var(--inline-padding);
  background-color: var(--page-bg);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--inline-gap);

  user-select: none;

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    transform: scale(1.02);

    border-color: var(--accent-washed);
    outline: 1px solid var(--accent-washed);
  }
}

.thumbnail {
  object-fit: cover;

  will-change: transform;
  width: 100%;
  aspect-ratio: 16/9;
  background: var(--page-cover);
}

.header {
  h3 {
    font-size: var(--header-small-size);
    font-weight: var(--header-small-weight);
  }
}

.clipMeta {
  display: flex;
  align-items: center;
  gap: var(--inline-gap);

  color: var(--gray-color);
  font-size: var(--font-size-small);

  >div {
    display: flex;
    align-items: center;
    gap: var(--inline-gap-small);
  }

  >div:nth-of-type(2) {
    margin-right: auto;
  }
}
