.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--page-padding);

  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.filters {
  display: flex;
  gap: var(--gap-small);

  font-weight: 500;

  > div {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > * {
      width: 100%;
    }
  }
}

.filters button {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: var(--inline-gap);

  background: #fff;
  border: 1px solid var(--borders);

  padding: var(--button-padding);
  border-radius: var(--radius-big);
  cursor: pointer;
}

.filters > button {
  --star: gold;

  min-width: 20%;
  justify-content: center;

  stroke: var(--star);
  fill: #fff;

  & svg {
    stroke: var(--star);
  }

  &.active {
    color: #fff;
    background-color: var(--accent-washed);

    > svg {
      --star: yellow;
      fill: var(--star);
    }
  }
}

.gamesList {
  position: absolute;
  z-index: 1;

  top: 110%;

  background-color: #fff;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  border-radius: var(--radius-big);
  overflow: hidden;

  > button {
    border: 0;
    border-radius: 0;

    &:hover {
      background-color: var(--clip-hover-bg);
    }

    &.active {
      color: #fff;
      background-color: var(--accent-washed);
    }
  }
}

.cover {
  position: fixed;
  left: 0;
  top: 0;
  content: "";

  width: 100vw;
  height: 100vh;
  background-color: var(--page-cover);
}

.clipGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--gap-big);
}

.noClips {
  grid-column: 1 / -1;
  text-align: center;
  color: #888;
  padding: 20px;
}
