.clipCard {
  border: 1px solid var(--borders);
  border-radius: 8px;
  overflow: hidden;

  padding: var(--inline-padding);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--inline-gap);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  cursor: pointer;
  transition: all 0.15s;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 0 var(--clip-hover);
  }
}

.header {
  h3 {
    font-size: var(--header-small-size);
    font-weight: var(--header-small-weight);
  }
}

.favouriteButton {
  cursor: pointer;
  fill: none;

  &.active {
    stroke: gold;
    fill: gold;
  }
}

.clipMeta {
  display: flex;
  justify-content: space-between;

  color: #666;
  font-size: var(--font-size-small);

  > div {
    display: flex;
    align-items: center;
    gap: var(--inline-gap-small);
  }
}
