.clipControls {
  margin-right: auto;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.clipControls button {
  background-color: transparent;
  border: none;
}

.clipControls button:hover {
  color: var(--accent-washed);
  cursor: pointer;
}
