.cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--page-cover);
  backdrop-filter: blur(5px);

  cursor: default;

  animation: appear 0.25s ease;
}


@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
