.settingButton {
  --border: var(--borders);

  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: var(--radius-small);

  padding: 0.25rem 1rem;
  cursor: pointer;

  height: var(--settingButtonHeight);
  font-weight: 500;

  transition: border 0.15s, box-shadow 0.15s;

  &:hover,
  &:focus-visible {
    --border: var(--accent-washed);

    box-shadow: 0px 0px 0px 1px var(--border) !important;
    outline: none;
  }
}
