.settingsContainer {
  --width: 500px;

  background-color: var(--card-bg);
  color: #fff;

  padding: var(--padding-big);

  height: 100vh;
  width: var(--width);
  max-width: 800px;

  display: flex;
  flex-direction: column;
  gap: var(--gap-big);

  position: fixed;
  left: var(--sidebar-width);
  top: 0;

  border-right: 1px solid var(--gray-color);

  transition: transform 1s ease;
  z-index: 1000;

  user-select: none;
}

.closed {
  transform: translateX(calc(var(--width) * -1));
}

.mainTitle {
  background-color: rgba(128, 128, 128, 0.301);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--radius-small);
}

.title {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.settingItem {
  border: 1px solid rgba(128, 128, 128, 0.325);
  border-radius: 5px;
  padding: var(--padding-big);

  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.settingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-small);

  padding: var(--padding-medium);
  background-color: #fff;
  color: #000;

  border-radius: var(--radius-small);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  > div:nth-child(2) {
    user-select: all;
    background-color: #66666622;
    border-radius: var(--radius-small);
    padding: var(--padding-small) var(--padding-medium);

    > p {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
