.settingsContainer {
  --width: 500px;

  background-color: #fff;

  padding: var(--padding-big);

  height: 100vh;
  width: var(--width);
  max-width: 800px;

  display: flex;
  flex-direction: column;
  gap: var(--gap-big);

  position: fixed;
  left: 0;
  top: 0;

  border-right: 2px solid;

  transform: translateX(var(--sidebar-width));
  transition: transform 1.25s;
  z-index: 1000;
}

.closed {
  transform: translateX(calc(var(--width) * -1.25));
}

.title {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.settingItem {
  border: 1px solid rgba(128, 128, 128, 0.325);
  border-radius: 5px;
  padding: var(--padding-big);

  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.settingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--padding-medium);
  background-color: var(--accent-white);

  border-radius: var(--radius-small);
}

.settingInfo {
  display: flex;
  gap: var(--gap-smallest);
}
