.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-color);
  z-index: 9000;

  height: 100vh;
  width: var(--sidebar-width);
  padding: 0.5rem 0;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.button {
  cursor: pointer;

  width: 80%;
  aspect-ratio: 1 /1;

  display: grid;
  place-content: center;

  border-radius: var(--radius-small);

  transition: background 0.15s;
  &:hover {
    background-color: var(--sidebar-hover);
  }
}

.settings {
  margin-top: auto;
}
