.videoContainer {
  position: relative;
  width: 100%;

  aspect-ratio: 16 / 9;
  background-color: var(--card-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

video {
  aspect-ratio: 16 / 9;
}

.videoContainer:hover .controls {
  opacity: 1;
}
.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  color: white;
  background-color: rgb(0, 0, 0);

  padding: 10px;
  border-radius: 8px;

  opacity: 0;
  transition: opacity 0.1s;

  user-select: none;
}

.time {
  color: white;
  white-space: nowrap;

  min-width: 100px;
  margin: auto;
  text-align: center;
}

.controlButton {
  background: none;
  border: none;

  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.controlButton:hover {
  color: var(--accent-washed);
}

.progressBarContainer {
  position: relative;
  flex: 1;
  height: 6px;

  border-radius: 5px;
  background: #333;

  margin: 0 10px;
  cursor: pointer;
}

.progress {
  position: absolute;
  height: 100%;
  width: 0%;

  background: var(--accent-washed);
  border-radius: 5px 0 0 5px;
  pointer-events: none;

  display: flex;
  justify-content: end;
  align-items: center;
}
