body {
  background-color: var(--page-bg);
  font-family: system-ui;
  scroll-behavior: smooth;
}

body.hide-scroll {
  &&::-webkit-scrollbar {
    display: none;
  }

  * {
    &&::-webkit-scrollbar {
      display: none;
    }
  }
}

* {
  &&::-webkit-scrollbar {
    width: 10px !important;
  }

  &&::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &&::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &&::-webkit-scrollbar-thumb:hover {
    width: 10px !important;
    background-color: var(--accent-washed);
  }
}

#root {
  margin-left: 50px;
}

:root {
  --page-bg: #fff;
  --page-bg-opposite: #000;

  /* sidebar */
  --sidebar-width: 50px;
  --sidebar-bg: var(--accent-washed);
  --sidebar-color: #fff;
  --sidebar-hover: #00000026;

  /* currentvideo view */
  --current-bg: #1e1e1e;

  /* titlebar */
  --title-bar-bg: #1e1e1e;
  --title-bar-color: #fff;
  --title-bar-height: 32px;

  /* clips view */
  --clips-filters-bg: var(--page-bg);
  --clips-bg: var(--page-bg);

  /* --- */
  --gray-color: #666;
  --page-cover: #0000006f;

  --borders: #e0e0e0;
  --page-padding: 1.5rem;
  --page-padding-small: 0.25rem;

  --accent-dark: #852112;
  --accent: #9d2816;
  --accent-washed: #f4795b;
  --accent-white: #fee5e5;

  --value: 0;
  --curent-game-cover: "";

  --button-padding: 10px;
  --radius-big: 8px;
  --radius-small: 4px;

  --padding-big: 1rem;
  --padding-slightly-bigger: 0.75rem;
  --padding-medium: 0.5rem;
  --padding-small: 0.25rem;

  --inline-padding: 0.5rem;
  --inline-gap: 0.5rem;
  --inline-gap-small: 0.25rem;

  --gap-big: 20px;
  --gap-medium: 1rem;
  --gap-small: 10px;
  --gap-smallest: 0.3rem;

  --header-medium-size: 1.5rem;
  --header-small-size: 1.1rem;
  --header-small-weight: 500;

  --font-size-small: 0.8rem;
}
