body {
  background-color: var(--page-bg);
  font-family: system-ui;
}

:root {
  --page-bg: #fff;
  --page-bg-opposite: #000;

  --card-bg: #1e1e1e;
  --card-bg-color: #fff;

  --gray-color: #666;

  --page-cover: #0000006f;

  --borders: #e0e0e0;
  --page-padding: 1.5rem;
  --page-padding-small: 0.25rem;

  --accent-dark: #852112;
  --accent: #9d2816;
  --accent-washed: #f4795b;
  --accent-white: #fee5e5;

  --curent-game-cover: "";

  --clip-hover: var(--accent-washed);
  --clip-hover-bg: var(--accent-white);

  --button-padding: 10px;
  --radius-big: 8px;

  --padding-big: 1rem;
  --padding-slightly-bigger: 0.75rem;
  --padding-medium: 0.5rem;
  --padding-small: 0.25rem;

  --inline-padding: 0.5rem;
  --inline-gap: 0.5rem;
  --inline-gap-small: 0.25rem;

  --gap-big: 20px;
  --gap-medium: 1rem;
  --gap-small: 10px;
  --gap-smallest: 0.3rem;

  --header-medium-size: 1.5rem;
  --header-small-size: 1.1rem;
  --header-small-weight: 500;

  --font-size-small: 0.8rem;
}
