.skeletonItem {
  height: 71px;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: var(--radius);
  background-color: rgba(128, 128, 128, 0.311);

  overflow: hidden;
  position: relative;
}

.skeletonItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;

  width: 200%;
  height: 100%;

  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.311),
      transparent);
  animation: shimmer 3s ease infinite;
}

@keyframes shimmer {
  100% {
    left: 200%;
  }
}
